<div>
  <h4 class="title">Canales en directo que podrían interesarte</h4>
  <div class="section-video col-12">
    <div class="col-2 wrapper-card" *ngFor="let o of [1,1,1,1,1,1]">
      <div class="video-card " >
        <span class="badge-live">En directo</span>
        <span class="badge-view">{{2222 |number:'1.0-0'}} espectadores</span>
      </div>
      <div class="user-zone">
        <div>
          <img class="user-avatar" src="https://static-cdn.jtvnw.net/jtv_user_pictures/a2592e98-5ba6-4c9a-9d9e-cf036d6f64c2-profile_image-50x50.jpg" alt="">
        </div>
        <div class="user-title">
          <div class="first-line">Lorem ipsum dolor.</div>
          <div class="second-line">Lorem ipsum dolor.</div>
        </div>
      </div>
    </div>
  </div>
</div>
