<div class="menu">
  <div>
    <div class="d-flex">
      <span class="menu-item">
        <img class="img-logo" src="../../assets/images/logo.png" alt="">
      </span>
      <span class="menu-item">Explorar</span>
      <span><i class="uil uil-ellipsis-h"></i></span>
    </div>
  </div>
  <div  class="menu-item">
    <div class="menu-src">
      <input type="text" placeholder="Buscar">
    </div>
  </div>
  <div  class="menu-item">
    <div class=" d-flex">
      <div class="btn-award">
        <i class="uil uil-award"></i>
      </div>
      <button class="btn btn-default">Iniciar sesión</button>
      <button class="btn btn-submit">Registrarse</button>
    </div>
  </div>
</div>
