:host{
  background-color: var(--colorPrimary);
  display: block;
  width: 50px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

.sidebar {

}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar ul li{
  padding: .65rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.sidebar .avatar-user img{
  width: 30px;
  height: 30px;
  border-radius: 50px;
  object-fit: cover;
}
